.bib-number-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bib-number-input label,
.bib-number-input input,
.bib-number-input button {
  margin-bottom: 10px;
}

.bib-number-input button {
  cursor: pointer;
}