/* MainPage.css */

/* Tightens the header to the top and minimizes its space */
h1 {
  margin-top: 10px; /* Reduces space above the header */
  margin-bottom: 10px; /* Reduces space below the header */
  font-size: 24px; /* Adjusts the size to be more compact */
  text-align: center; /* Centers the header */
  color: #333;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-around;
}

.content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  /* flex-grow: 1;  Allow this container to take up all available space */
}

.forms-container {
  order: 1;
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap if not enough space */
  justify-content: space-around;
  gap: 20px;
}

.active-runners {
  flex-basis: 20%; /* Adjust width based on preference */
  height: auto; /* Adjust based on content */
  overflow-y: auto; /* Enables scrolling */
}

.recent-entries {
  order: 2;
  width: 100%;
  min-height: 20vh; /* Adjust based on content size */
}

.check-in-out-bonus {
  flex: 1 1 25%; /* Each form takes no more than 30% of the forms-container width */
}

/* Additional styles for list containers */
.active-runner-list,
.recent-entries-list {
  padding: 10px;
  margin: 0;
  list-style-type: none;
}
