.active-runner-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.header-row, .runner-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.header-row {
  background-color: #f0f0f0;
  font-weight: bold;
}

.header {
  flex: 1;
  text-align: center;
}

.runner-row div {
  flex: 1;
  text-align: center;
}
